<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestLocalNotification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CAAA9DA61D9535130087E0CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAD085EE1D9273E400F058F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAD086021D9273E400F058F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAD0860D1D9273E400F058F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
